SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{manufacturer}=="FTDI", ATTRS{serial}=="FTVV8F0M", MODE="0666", SYMLINK+="walrus_imu"