<launch>
  <node name="interface_controller" pkg="walrus_interface_controller" type="interface_controller_node">
    <param name="have_joystick_controller" value="true" />
  </node>

  <include file="$(find walrus_interface_controller)/launch/joystick_controller.launch.xml" />

  <node name="joystick_driver" pkg="joy" type="joy_node" respawn="true" respawn_delay="5">
    <param name="autorepeat_rate" value="4" />
  </node>
</launch>
