<launch>
  <node name="interface_controller" pkg="walrus_interface_controller" type="interface_controller_node">
    <param name="have_joystick_controller" value="true" />
  </node>

  <include file="$(find walrus_interface_controller)/launch/joystick_controller.launch.xml" />

  <include file="$(find walrus_web_server)/launch/server.launch" />
</launch>
