<md-bottom-sheet class="md-grid">
  <md-list>
    <md-item>
      <md-button class="md-grid-item-content" style="width:120px;" ng-click="showDiagnostics()">
        <div class="md-icon-container">
          <md-icon icon="/img/graph.svg"></md-icon>
        </div>
        <p class="md-grid-text" style="width: 110px;"> Diagnostics </p>
      </md-button>
    </md-item>
    <md-item>
      <md-button class="md-grid-item-content" style="width:120px;" ng-click="showFakeDiagnostics()">
        <div class="md-icon-container">
          <md-icon icon="/img/graph.svg"></md-icon>
        </div>
        <p class="md-grid-text" style="width: 110px;"> Fake Diagnostics </p>
      </md-button>
    </md-item>
    <md-item>
      <md-button class="md-grid-item-content" style="width:120px;" ng-click="showControlsLayout()">
        <div class="md-icon-container">
          <md-icon icon="/img/gamepad.svg"></md-icon>
        </div>
        <p class="md-grid-text" style="width: 110px;"> Controls </p>
      </md-button>
    </md-item>
    <md-item>
      <md-button class="md-grid-item-content" style="width:120px;" ng-click="showGamepadDiagnostics()">
        <div class="md-icon-container">
          <md-icon icon="/img/gamepad.svg"></md-icon>
        </div>
        <p class="md-grid-text" style="width: 110px;"> Gamepad </p>
      </md-button>
    </md-item>
  </md-list>
</md-bottom-sheet>
