<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find calf_control)/config/calf_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/calf" args="joint_state_controller front_left_pod_joint_controller back_left_pod_joint_controller front_right_pod_joint_controller back_right_pod_joint_controller left_drive_controller right_drive_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen" ns="/calf">
  </node>

</launch>
