<!-- Launch file for starting the robot simulator -->
<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="world_name" default="empty"/>
  <arg name="full_world_name" default="$(find walrus_gazebo)/worlds/$(arg world_name).world"/>

  <remap from="base_epos/joint_states" to="joint_states" />
  <remap from="base/joint_states" to="joint_states" />
  <!-- Launch gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="world_name" value="$(arg full_world_name)"/>
  </include>

  <!-- Spawn the robot model -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model walrus -param /robot_description"/>
</launch>
