<launch>

  <node name="simple_teleop" pkg="calf_teleop" type="simple_teleop.py"
    respawn="false" output="screen" ns="/calf">
  </node>
  <node name="joy" pkg="joy" type="joy_node" respawn="false" output="screen" ns="/calf">
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
    <param name="autorepeat_rate" value="20" />
  </node>

</launch>
