<!-- Bringup file for the robot -->
<launch>
  <include file="$(find walrus_base_hw)/launch/walrus_base_hw.launch" />

  <!-- IMU -->
  <node name="orientus_node" pkg="orientus_driver" type="orientus_node" respawn="true" respawn_delay="5">
    <param name="port" value="/dev/ttyUSB0"/>
  </node>

  <node pkg="multi_usb_cam" type="multi_usb_cam_node" name="multi_usb_cam_node" respawn="true" respawn_delay="5">
    <rosparam>
      cameras:
        - {name: '/dev/video0', topic: 'front_camera/image_raw', frame_id: 'front_camera'}
        - {name: '/dev/video1', topic: 'back_camera/image_raw', frame_id: 'back_camera'}
        - {name: '/dev/video2', topic: 'bottom_camera/image_raw', frame_id: 'bottom_camera'}
      configs: # Each level of configuration is for number of cameras running concurrently (first is for one camera, second is for two, etc)
        - {width: 1280, height: 720, fps: 30}
        - {width: 320, height: 240, fps: 10}
    </rosparam>
  </node>

  <include file="$(find walrus_bringup)/launch/includes/computer_monitor.launch.xml">
    <arg name="name" value="primary_computer"/>
  </include>

  <node name="robot_bullet_monitor" pkg="ubiquiti_bullet" type="bullet_monitor.py" respawn="true" respawn_delay="5">
    <param name="ip_address" value="192.168.1.20"/>
  </node>
  <node name="remote_bullet_monitor" pkg="ubiquiti_bullet" type="bullet_monitor.py" respawn="true" respawn_delay="5">
    <param name="ip_address" value="192.168.1.21"/>
  </node>

  <include file="$(find walrus_bringup)/launch/includes/common.launch.xml">
    <arg name="type" value="robot"/>
  </include>
</launch>
