<!-- Bringup file for the robot -->
<launch>
  <group ns="walrus">
    <include file="$(find walrus_base_hw)/launch/walrus_base_hw.launch" />

    <!-- IMU -->
    <node name="orientus_node" pkg="orientus_driver" type="orientus_node" respawn="true">
      <param name="port" value="/dev/ttyUSB0"/>
    </node>
    <!-- Monitors internal computer sensors (fan, temperature, etc) -->
    <node pkg="libsensors_monitor" type="libsensors_monitor" name="primary_computer_monitor" />

    <node name="robot_bullet_monitor" pkg="ubiquiti_bullet" type="bullet_monitor.py" respawn="true">
      <param name="ip_address" value="192.168.1.20"/>
    </node>
    <node name="remote_bullet_monitor" pkg="ubiquiti_bullet" type="bullet_monitor.py" respawn="true">
      <param name="ip_address" value="192.168.1.21"/>
    </node>

    <include file="$(find walrus_bringup)/launch/includes/common.launch.xml" />
  </group>
</launch>
