SUBSYSTEMS=="usb", ATTRS{idVendor}=="03eb", ATTRS{serial}=="7413830343635180F070", MODE:="0666", ENV{ID_MM_DEVICE_IGNORE}="1", ENV{MTP_NO_PROBE}="1"
KERNEL=="ttyACM*", ATTRS{idVendor}=="03eb", ATTRS{serial}=="7413830343635180F070", MODE:="0666", ENV{ID_MM_DEVICE_IGNORE}="1", ENV{MTP_NO_PROBE}="1", SYMLINK+="walrus_teensy"