<md-bottom-sheet class="md-grid">
  <md-list>
    <md-item>
      <md-button class="md-grid-item-content" ng-click="showDiagnostics()">
        <div class="md-icon-container">
          <md-icon md-svg-src="/img/graph.svg"></md-icon>
        </div>
        <p class="md-grid-text"> Diagnostics </p>
      </md-button>
    </md-item>
    <md-item>
      <md-button class="md-grid-item-content" ng-click="showControlsLayout()">
        <div class="md-icon-container">
          <md-icon md-svg-src="/img/gamepad.svg"></md-icon>
        </div>
        <p class="md-grid-text"> Controls </p>
      </md-button>
    </md-item>
    <md-item>
      <md-button class="md-grid-item-content" ng-click="showGamepadDiagnostics()">
        <div class="md-icon-container">
          <md-icon md-svg-src="/img/gamepad.svg"></md-icon>
        </div>
        <p class="md-grid-text"> Gamepad </p>
      </md-button>
    </md-item>
    <md-item>
      <md-button class="md-grid-item-content" href="/tools">
        <div class="md-icon-container">
          <md-icon md-svg-src="/img/gear.svg"></md-icon>
        </div>
        <p class="md-grid-text"> Tools </p>
      </md-button>
    </md-item>
  </md-list>
</md-bottom-sheet>
