<?xml version="1.0"?>
<robot name="walrus" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find walrus_description)/urdf/base.urdf.xacro" />
  <xacro:include filename="$(find walrus_description)/urdf/simple_transform.urdf.xacro" />

  <property name="robot_ns" value="walrus" />

  <xacro:walrus robot_ns="${robot_ns}"/>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/walrus</robotNamespace>
      <robotSimType>walrus_gazebo/WalrusHWSim</robotSimType>
    </plugin>
  </gazebo>

</robot>
